@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, system-ui, sans-serif;
    color: white;
}

body {
    background-color: rgb(16, 21, 39);
    display: flex;
    flex-direction: column;
}

button:hover,
input[type="submit"]:hover {
    opacity: 80%;
}

button:active,
input[type="submit"]:active {
    opacity: 50%;
}

.newBook-btn {
    margin: 40px auto;
    background-color: teal;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.remove-btn {
    background-color: rgba(255, 0, 0, 0.4);
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.status-btn.read {
    background-color: green;
}

.status-btn.not-read {
    background-color: red;
}

.status-btn {
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 10px;
}

thead th {
    border-bottom: 1px solid white;
    text-align: start;
    padding: 10px;
}

thead th:last-child {
    border: none;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table caption {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: start;
}

tbody th,
tbody td {
    padding: 10px;
}

dialog {
    margin: auto auto;
    background-color: rgb(96, 104, 131);
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

form {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

form input {
    color: black;
}

form input:focus {
    outline: none;
    border: 2px solid orange;
}

input[type="submit"],
dialog button {
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

input {
    border: 2px solid white;
    border-radius: 5px;
}

fieldset {
    border-radius: 5px;
    padding: 10px;
}